@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background-color: #5d688a;
}

.counter-container {
  padding: 2.5rem 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  background-color: #fff2ef;
  box-shadow: 2px 2px 2px 2px 5px white;
}
h3 {
  font-size: 4rem;
  font-weight: 500;
  color: rgba(212, 212, 13, 0.765);
}

.btn {
  margin: 0 0.55rem;
  padding: 0.45rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  color: white;
}
.btn:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.612);
}
.btn:nth-child(2) {
  background-color: rgba(212, 212, 13, 0.765);
}
.btn:nth-child(3) {
  background-color: rgba(0, 128, 0, 0.612);
}
