@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sans-serif";
}

:root {
  --bg-color: #ebeef3;
  --txt-color: #495969;
  --txt-light-color: #797d80;
  --white-color: #ffff;
}

body {
  background: #b0b0b16b;
}

li {
  list-style: none;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 3rem;
}

.to-do-container {
  padding: 1rem;
  background: var(--bg-color);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 8px 30px 0px;
}

.heding {
  margin: 0.7rem 0;
  display: flex;
  align-items: center;
  padding: 1rem 2.1rem;
  gap: 1.5rem;
}

.heding .bell {
  background: var(--txt-color);
  padding: 1.1rem 0.6rem;
  border-radius: 45%;
}

.heding .bell i {
  color: var(--white-color);
  font-size: 1.8rem;
}

.heding h1 {
  color: var(--txt-color);
  font-weight: 700;
}

.input-container {
  padding: 1rem 1.7rem;
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  color: var(--txt-light-color);
  background: var(--bg-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 8px 30px 0px;
}

.input-container i {
  padding: 0.7rem 0.2rem;
  position: absolute;
  right: 12%;
  bottom: 18%;
  font-size: 1.3rem;
  color: var(--txt-color);
  font-weight: 600;
}

.list {
  padding: 0rem 1.7rem;
}

.list li {
  padding: 0.6rem;
  background: var(--bg-color);
  margin: 1rem 0;
  border-radius: 25px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e2e6e9;
}
